body
{
    margin: 0;
}
header
{
    margin-top: 4%;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.onglet
    {
        margin:0;
        padding:0;
    }
.onglet--btn-inscription
    {
        order: 2;
        flex-basis: 40%;
    }
.onglet--btn-activites
    {
        order: 4;
        flex-basis: 50%;
        border-bottom: 2px solid #F2F2F2;
        justify-content: center;
    }
.onglet--btn-hebergements
    {
        order:3;
        flex-basis: 50%;
        border-bottom: 2px solid #F2F2F2;
        justify-content: center;
    }
.header--div_logo
    {
        order: 1;
        flex-basis: 50%;
    }

.filtres
    {
        flex-direction: column;
    }
.hebergements
    {
        background: none;
        justify-content: center;
        order: 2;
        margin: 0;
    }
section
    {
        flex-direction: column;
        width: available;
    }
.popular
    {
        border-radius: 0;
        order: 1;
    }
.activites
    {
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 0%;
    width: 95%;
    }
footer
    {
    flex-direction: column;
    margin: 0;
    }
.search
    {
    display: flex;
    justify-content: center;
    flex-basis: 80%;
    }
.tuiles--activites
    {
    width: 90%;
    }
.tuiles--img
{
    width: auto;
    height: 10em;
    object-fit: cover;
}
.tuiles
{
    width: 20rem;
    border: none;
}