@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body
{
    font-family: 'Raleway', arial, sans-serif;
    font-weight: normal;
    font-size: 1rem;
    margin: 0 2%;
}
a
{
    text-decoration: none;
    color: initial;
}
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.presentation
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.header--div_logo
{
    display: flex;
    flex-basis: 70%;
}
.header--logo
{
    width: 100px;
}
.presentation--text__bold
{
    font-size: x-large;
    margin-inline-end: 0em;

}
.presentation--text
{
    font-size: 0.7rem;
    margin-block-start: -0.5rem;
}
.onglet
{
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}
.onglet a
{
    text-decoration: none; 
    color: #0065FC;
}
.onglet:hover
{
    border-top: 1px solid #0065FC;  
}
.filtres
{
    display: flex;
    align-items: baseline;
    margin-top: 20px;
}
.filtres--btn
{
    font-weight: 600;
    padding: 0 13px 0 0;
    background: none;
    border:3px solid #F2F2F2;
    border-radius: 80px;
}
.fas
{
    color: #0065FC;
    margin-left: 0;
    padding: 0.6rem;
    background: #DEEBFF;
    border-radius: 80px;
}
.fa-map-marker-alt
{
    color: black;
    background: #F2F2F2;
    border-radius: 10px 0 0 10px ;
    padding-bottom: 10px;
}
.search--bar
{
    border: 1px solid #F2F2F2;
    height: 32px ;
}
.search--btn
{
    background: #0065FC;
    color: white;
    border: none;
    height: 32px;
    border-radius: 0 10px 10px 0;
    font-size: 0.7rem;
}
.info
{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 30px;
}
.fa-info
{
    background: none;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 10px ;
    padding: 8px;
}
.hebergements
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #F2F2F2;
    border-radius: 15px;
    flex-basis: 70%;
}
.hebergements--titre
{
    width: 100%;
    padding-left: 30px;
}
.tuiles
{
    background: white;
    display: inline-flex;
    flex-direction: column;
    border: 4px solid white;
    border-radius: 15px;
    margin: 17px;
    box-shadow: 2px 2px 2px #F2F2F2;
}
img:hover
{
    filter: brightness(50%);
}
.tuiles--name
{
    margin-bottom: 5px;
}
.tuiles--img
{
    
    border-radius: 17px 17px 0 0;
    height: 140px;
    width: 280px;
}
.tuiles--legende
{
    display: flex;
    flex-direction: column;
    background: white;
    font-size: smaller;
}
.fa-star
{
    background: none;
    padding:0 0; 
}
.tuiles--note
{
    display: flex;
    padding-left: 0;
}
section
{
    display: flex;
    justify-content: space-between;
    
}
.popular
{
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    flex-basis:  27%;
    border-radius: 15px;
    align-items: center;
    justify-content: space-around;
}
.popular p
{
    padding-left: 45px;
}
.tuiles__horizontal
{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    background: white;
    border-radius: 15px;
    padding: 5px;
    height:120px;
    width: 325px;
    box-shadow: 2px 2px 2px #F2F2F2;
    
}
.tuiles--img__horizontal
{
    height:auto;
    width:120px;
    border-radius: 15px  0px 0 15px;
}
.section__activite
{
    display: flex;
    flex-direction: column;
    
}
.activites
{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 420px;
}
.activites--titre
{
    display: flex;
    flex-basis: 100%;
}
.tuiles--activites
{
    width: 22%;
    flex-basis: 40%;
    overflow: hidden;
}
.tuiles--activites__grande
{
    flex-basis: 100%;
}
.tuiles--img__grande
{
    width: auto;
    height: 88%;
    object-fit: cover;
}
.tuiles--activites__moyenne
{ 
    flex-basis: 45%;
}
.tuiles--img__moyenne
{
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: 0px -150px;
}
.tuiles--activites__petite
{
    flex-basis: 35% ;
}
.tuiles--img__petite
{
    object-fit: cover;
    height: 80%;
    width: 100%;
}
.tuiles--div__petite
{
    overflow: hidden;
    height: 130px;
    width: 330px;
}
.tuiles--div
{
    overflow: hidden;
    width: 330px;
    height: 152px;
}
.tuiles--img__standard
{
    width: auto;
    height: 80%;
    object-fit: cover;
}
.tuiles--legende_activite
{
    display: flex;
    align-items: center;
    width: auto;
    height: 20%;
    font-size: smaller;
}
footer
{
    display: flex;
    justify-content: space-around;
    background: #F2F2F2;
    margin: 20px -40px -40px -40px;
}
footer div
{
    display: flex;
    flex-direction: column;
}