body
{
    margin: 0;
}
.header--div_logo
{
    display: flex;
    flex-basis: 50%;
}
.onglet a
{
    padding:2rem 1rem;
}
.filtres
{
    margin: 15px;
    flex-wrap: wrap;
}
.filtres--btn
{
    margin: 9px 30px;
}
section
{
    flex-direction: column;
}
.popular
{
    order: 1;
    align-items: stretch;
    margin: 0;
}
.tuiles__horizontal
{
    width: initial;
    padding: 7px 0px 7px 7px;
    margin: 1% 4%;
    justify-content: start;
}
.hebergements
{
    order: 2;
    background: none;
    justify-content: space-evenly;
    flex-direction: column;
}
.activites
{
    flex-wrap: nowrap;
    align-items: center;
    height: auto;
}
.tuiles
{
    flex: auto;
    width: auto;
}
.tuiles--activites
{
    height: 10rem;
    flex-basis: unset;
    width: 90%;
    justify-content: flex-end;
}
.tuiles--img
{
    object-fit: cover;
    
}
.tuiles-activites--img
{
    width: 650px;
    height: 150px;
    object-fit: cover;
}
footer
{
    margin: 0;
}