body
{
    margin: 0;
}
.header--div_logo
{
    display: flex;
    flex-basis: 50%;
}
.onglet
{
    padding:1rem;
}
section
{
    flex-direction: column;
}
.popular
{
    order: 1;
    align-items: stretch;
}
.tuiles__horizontal
{
    width: initial;
    padding: 7px 0px 7px 7px;
    margin: 1% 4%;
    justify-content: start;
}
.hebergements
{
    order: 2;
    background: none;
    justify-content: space-evenly;
    flex-direction: column;
}
.activites
{
    flex-wrap: nowrap;
    align-items: center;
    height: auto;
}
.tuiles
{
    flex: auto;
    width: auto;
}
.tuiles--activites
{
    height: 10rem;
    flex-basis: unset;
    width: 80%;
    justify-content: flex-end;
}
.tuiles--activites__grande
{
    flex-basis: unset;
}
.tuiles--img
{
    object-fit: cover;
    
}
.tuiles-activites--img
{
    width: unset;
    height: 150px;
    object-fit: cover;
}
/*Enlever les div autour des img