@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body
{
    font-family: 'Raleway', arial, sans-serif;
    font-weight: normal;
    font-size: 1rem;
    margin: 0 2%;
}
a
{
    text-decoration: none;
    color: initial;
}
a:hover
{
    color: #0065FC;
}
i:hover
{
    color: #0065FC;
}
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.presentation
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.header--div_logo
{
    display: flex;
    flex-basis: 70%;
    margin-top: 1rem;
}
.header--logo
{
    width: 100px;
}
.presentation--text__bold
{
    font-size: x-large;
    margin-inline-end: 0em;

}
.presentation--text
{
    font-size: 0.7rem;
    margin-block-start: -0.5rem;
}
.onglet
{
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    border-top: 2px solid transparent;
}
.onglet .onglet--lien-activites
{
    color: grey;
}
.onglet--lien-activites:hover
{
    color: #0065FC;
}
.onglet--btn-inscription
{
    font-weight: 600;
}
.onglet a
{
    text-decoration: none; 
    color: #0065FC;
}
.onglet:hover
{
    border-top: 2px solid #0065FC;  
}
.filtres
{
    display: flex;
    align-items: baseline;
    margin-top: 20px;
}
.filtres--btn
{
    font-weight: 600;
    padding: 0 13px 0 0;
    background: none;
    border: 3px solid #F2F2F2;
    border-radius: 80px;
    margin: 0 15px;
}
.fas
{
    color: #0065FC;
    padding: 0.6rem;
    background: #DEEBFF;
    border-radius: 80px;
}

.fa-map-marker-alt
{
    color: black;
    background: #F2F2F2;
    border-radius: 10px 0 0 10px;
    padding-bottom: 10px;
}
.search
{
    padding: 1rem 0;
    
}
.search--bar
{
    border: 1px solid #F2F2F2;
    height: 32px;
}
.search--bar::placeholder
{
    font-weight: 600;
    color: black;
}
.search--btn
{
    background: #0065FC;
    color: white;
    border: none;
    height: 32px;
    border-radius: 0 10px 10px 0;
    font-size: 0.7rem;
}
.search--btn__mobile
{
    display: none;
}
.info
{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 30px;
}
.fa-info
{
    background: none;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    padding: 8px;
}
.hebergements
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #F2F2F2;
    border-radius: 15px;
    flex-basis: 75%;
    padding: 0 2rem;
}
.hebergements--titre
{
    width: 100%;
    padding-left: 30px;
}
.hebergements--lien
{
    width: 100%;
}
.tuiles
{
    background: white;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    border: 4px solid white;
    border-radius: 15px;
    box-shadow: 1px 1px 6px #b0b0b0;
    width: 280px;
    margin: 1rem 10px;
}
.tuiles:hover > img
{
    filter: brightness(50%);
}
.tuiles__horizontal:hover > img
{
    filter: brightness(50%);
}
.tuiles--activites a:hover > img
{
    filter: brightness(50%);
}
.tuiles--name
{
    margin-block-end: unset;
    margin-block-start: unset;
    font-size: 1rem;
    padding: 10px 0;
}
.tuiles--img
{
    
    border-radius: 15px 15px 0 0;
    height: 140px;
    object-fit: cover;
}
.tuiles--legende
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    font-size: smaller;
    margin-left: 1em;
    border-radius: 15px;
}
.fa-star
{
    background: none;
    padding: 0 0;
    margin: 0; 
}
.tuiles--note
{
    display: flex;
    padding: 5% 0;
}
section
{
    display: flex;
    justify-content: space-between;
    
}
.section--name
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: small;
}
.fa-chart-line
{
    background: none;
    padding: 0 2% 0 0;
    color: unset;
}
.popular
{
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    flex-basis: 24%;
    border-radius: 15px;
    padding: 1rem 2rem;
    margin: 0 0rem 0 2rem;
    justify-content: flex-start;
}
.tuiles__horizontal
{
    display: flex;
    background: white;
    border-radius: 15px;
    height: 130px;
    width: auto;
    box-shadow: 1px 1px 6px #b0b0b0;
    margin: 10% 0%;
    
}
.tuiles--img__horizontal
{
    height: auto;
    width: 120px;
    object-fit: cover;
    border-radius: 15px  0px 0 15px;
}
.section__activite
{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 2%;
    
}
.activites
{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 420px;
}
.activites--titre
{
    display: flex;
    flex-basis: 100%;
}
.tuiles--activites
{
    width: 22%;
    flex-basis: 40%;
    overflow: hidden;
    box-shadow: 1px 1px 6px #F2F2F2;
}
.tuiles--activites__grande
{
    flex-basis: 100%;
}
.tuiles-activites--img
{
    width: 318px;
    object-fit: cover;
}
.tuiles--img__grande
{
    height: 340px;
}
.tuiles--activites__moyenne
{ 
    flex-basis: 45%;
}
.tuiles--img__moyenne
{
    height: 30%;
}
.tuiles--activites__petite
{
    flex-basis: 35%;
}
.tuiles--img__petite
{
    height: 45%;
}
.tuiles--img__standard
{
    height: 135px;
}
.tuiles--legende_activite
{
    display: flex;
    align-items: center;
    width: auto;
    font-size: x-small;
    padding: 0 4%;
}
footer
{
    display: flex;
    justify-content: space-around;
    background: #F2F2F2;
    margin: 0 -2% 0px -2%;
    padding: 1rem 0;
}
footer div
{
    display: flex;
    flex-direction: column;
}