@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body
{
    font-family: 'Raleway', arial, sans-serif;
    font-weight: normal;
    font-size: 1rem;
    margin: 0 2%;
}
a
{
    text-decoration: none;
    color: initial;
}
i:hover
{
    color: #0065FC;
}
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.presentation
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.header__div-logo
{
    display: flex;
    flex-basis: 70%;
    margin-top: 1rem;
}
.header__logo
{
    width: 100px;
}
.presentation__text--bold
{
    font-size: x-large;
    margin-inline-end: 0em;

}
.presentation__text
{
    font-size: 0.7rem;
    margin-block-start: -0.5rem;
}
#onglet__lien-inscription
{
    font-weight: 600;
    color: #0065FC;
}
.onglet a
{
    text-decoration: none; 
    color: grey;
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    border-top: 2px solid transparent;
}
.onglet a:active
{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
.filtres
{
    display: flex;
    align-items: baseline;
    margin-top: 20px;
}
.filtres__btn
{
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 0 13px 0 0;
    background: none;
    border: 3px solid #F2F2F2;
    border-radius: 80px;
    margin: 0 15px;
    height:2rem;
    cursor: pointer;
}
.filtres__btn:active
{
    background: #0065FC;
    color: white;
}
.filtres__icon
{
    display: flex;
    margin:0 1rem 0 -5px;
    height: 15px;
    width: 15px;
    color: #0065FC;
    padding: 0.5rem;
    background: #DEEBFF;
    border-radius: 80px;
    justify-content: center;
    align-items: center;
}
.fas
{
    color: #0065FC;
    padding: 0.6rem;
    background: #DEEBFF;
    border-radius: 80px;
}

.fa-map-marker-alt
{
    color: black;
    background: #F2F2F2;
    border-radius: 10px 0 0 10px;
    padding-bottom: 10.5px;
}
.search
{
    padding: 1rem 0;
    display: flex;
    align-items: center;
}
.search__bar
{
    border: 2px solid #F2F2F2;
    height: 2rem;
}
.search__bar::placeholder
{
    padding-left: .5rem;
    font-weight: 600;
    color: black;
}
.search__btn
{
    background: #0065FC;
    color: white;
    border: 2px solid #0065FC;
    height: 2rem;
    border-radius: 0 10px 10px 0;
    font-size: 0.7rem;
    margin-left: -5px;
}
.search__btn--mobile
{
    display: none;
}
.info
{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 30px;
}
.info__icone
{
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    align-items: center;
    margin: 0 1rem 0 0;
}
.fa-info
{
    background: none;
    color: #0065FC;
}
.hebergements
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #F2F2F2;
    border-radius: 15px;
    flex-basis: 75%;
    padding: 0 2rem;
}
.hebergements__lien
{
    width: 100%;
    padding-bottom: 1rem;
}
.hebergements__lien a:hover
{
    color: #0065FC;
}
.tuiles
{
    background: white;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    border: 4px solid white;
    border-radius: 15px;
    box-shadow: 1px 1px 6px #b0b0b0;
    width: 280px;
    margin: 1rem 10px;
}
.tuiles:hover
{
    color: #0065FC;
}
.tuiles:hover > img
{
    filter: brightness(50%);
}
.tuiles__horizontal:hover
{
    color: #0065FC;
}
.tuiles__horizontal:hover > img
{
    filter: brightness(50%);
}
.tuiles-activites a:hover
{
    color: #0065FC;
}
.tuiles-activites a:hover > img
{
    filter: brightness(50%);
}
.tuiles__name
{
    margin-block-end: unset;
    margin-block-start: unset;
    font-size: 1rem;
    padding: 10px 0;
}
.tuiles__img
{
    
    border-radius: 15px 15px 0 0;
    height: 140px;
    object-fit: cover;
}
.tuiles__legende
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    font-size: smaller;
    margin-left: 1em;
    border-radius: 15px;
}
.fa-star
{
    background: none;
    padding: 0 0;
    margin: 0; 
}
.empty
{
    color: grey;
}
.tuiles__note
{
    display: flex;
    padding: 5% 0;
}
section
{
    display: flex;
    justify-content: space-between;
    
}
.section__name
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: small;
}
.fa-chart-line
{
    background: none;
    padding: 0 2% 0 0;
    color: unset;
}
.popular
{
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    flex-basis: 24%;
    border-radius: 15px;
    padding: 1rem 2rem;
    margin: 0 0rem 0 2rem;
    justify-content: flex-start;
}
.tuiles__horizontal
{
    display: flex;
    background: white;
    border-radius: 15px;
    height: 130px;
    width: auto;
    box-shadow: 1px 1px 6px #b0b0b0;
    margin: 10% 0%;
    
}
.tuiles-horizontal__img
{
    height: auto;
    width: 120px;
    object-fit: cover;
    border-radius: 15px  0px 0 15px;
}
.section__activite
{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 2%;
    
}
.activites
{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 420px;
}
.activites__titre
{
    display: flex;
    flex-basis: 100%;
}
.tuiles-activites
{
    width: 22%;
    flex-basis: 40%;
    overflow: hidden;
    box-shadow: 1px 1px 6px #F2F2F2;
}
.tuiles-activites--grande
{
    flex-basis: 100%;
}
.tuiles-activites__img
{
    width: 100%;
    object-fit: cover;
}
.tuiles__img--grande
{
    height: 340px;
}
.tuiles-activites--moyenne
{ 
    flex-basis: 45%;
}
.tuiles__img--moyenne
{
    height: 30%;
}
.tuiles-activites--petite
{
    flex-basis: 35%;
}
.tuiles__img--petite
{
    height: 45%;
}
.tuiles__img--standard
{
    height: 135px;
}
.tuiles-activites__legende
{
    display: flex;
    align-items: center;
    width: auto;
    font-size: x-small;
    padding: 5px 4%;
}
.tuiles-activites__legende h2
{
    margin-block-start: 0;
}
footer
{
    display: flex;
    justify-content: space-around;
    background: #F2F2F2;
    margin: 0 -2% 0px -2%;
    padding: 1rem 0;
}
footer div
{
    display: flex;
    flex-direction: column;
}
footer a:hover
{
    color: #0065FC;
}